<article class="c-article">
  <div class="c-wrap">
    <h1 class="c-article__heading">Etiam nisl dui, ultricies quis turpis quis, dapibus finibus tortor</h1>
    
    <div class="o-grid o-grid--rev--t">
      <div class="o-grid__unit o-grid__unit--m-1-1 o-grid__unit--t-2-3">
        <div class="c-article__content">
          <h2 class="c-article__subheading">Ut sit amet scelerisque ex, sit amet mattis sapien</h2>
          <p class="c-article__para">
            Mauris eu finibus diam. Quisque accumsan aliquet dictum. 
            Aenean interdum tortor vitae elit elementum, et interdum 
            tortor imperdiet. Duis sed justo ultrices, aliquam nisi 
            sit amet, interdum justo.
          </p>
          
          <p class="c-article__para">
            Mauris eu finibus diam. Quisque accumsan aliquet dictum. 
            Aenean interdum tortor vitae elit elementum, et interdum 
            tortor imperdiet. Duis sed justo ultrices, aliquam nisi 
            sit amet, interdum justo.
          </p>
          
          <h2 class="c-article__subheading">
            Ut sit amet scelerisque ex, sit amet mattis sapien. 
            Proin convallis libero porta, mattis quam vitae
          </h2>
          
          <p class="c-article__para">
            Pellentesque porttitor urna a nisi sodales, ac condimentum 
            mauris auctor. In efficitur velit ut eros porttitor eleifend. 
            In tempor diam at urna finibus, vitae lobortis sem tincidunt. 
            Donec ac elementum orci.
          </p>
        </div>
      </div>
      
      <div class="o-grid__unit o-grid__unit--m-1-1 o-grid__unit--t-1-3">
        <aside class="c-article__aside">
          <h2 class="c-article__subheading">Fantastic service, I'm excited!</h2>
          <p>
            Pellentesque porttitor urna a nisi sodales, ac condimentum mauris auctor. 
            In efficitur velit ut eros porttitor eleifend. 
            In tempor diam at urna finibus, vitae lobortis sem tincidunt. 
          </p>
          
          <div class="c-article__meta">
            <span class="c-article__meta-alpha">James Counter</span>
            <span class="c-article__meta-beta">Citizens Advice</span>
            <span class="c-article__meta-gamma">Lead Front End UX Developer</span>
          </div>
        </aside>
      </div>
    </div>
  </div>
</article>