<section class="c-banner c-banner--shout" id="js-banner">
  <div class="c-wrap">
    <div class="o-grid o-grid--middle">
      <div class="o-grid__unit o-grid__unit--m-1-1 o-grid__unit--t-2-3 o-grid__unit--d-3-4">
        <div class="c-banner__content">
          <p>
            Nam elementum rutrum ipsum sit amet luctus. 
            Sed libero turpis, eleifend in quam sed, 
            vestibulum vulputate ante. 
          </p>
        </div>
      </div>
      
      <div class="o-grid__unit o-grid__unit--m-1-1 o-grid__unit--t-1-3 o-grid__unit--d-1-4">
        <div class="c-banner__action">
          <a class="c-btn c-btn--rounded c-btn--inverse" href="#">More info</a>
        </div>
      </div>
    </div>
  </div>  
</section>