<nav class="c-overlay-nav">
  <ul class="o-list o-list--flat">
    <li class="o-list__item"><a href="#">Product</a></li>
    <li class="o-list__item"><a href="#">About</a></li>
    <li class="o-list__item"><a href="#">Portfolio</a></li>
    <li class="o-list__item"><a href="#">Team</a></li>
    <li class="o-list__item"><a href="#">Contact</a></li>
  </ul>
  
  <ul class="o-list o-list--flat">
    <li class="o-list__item"><a href="#">Menu item #1</a></li>
    <li class="o-list__item"><a href="#">Menu item #2</a></li>
    <li class="o-list__item"><a href="#">Menu item #3</a></li>
  </ul>
</nav>
<div class="c-overlay-nav__blind"></div>