<header class="c-page-head">
  <nav class="c-page-head__pimary-nav">
    <ul class="o-list o-list--flat o-list--inline">
      <li class="o-list__item c-page-head__pimary-nav__item"><a href="#">Product</a></li>
      <li class="o-list__item c-page-head__pimary-nav__item"><a href="#">About</a></li>
      <li class="o-list__item c-page-head__pimary-nav__item"><a href="#">Portfolio</a></li>
      <li class="o-list__item c-page-head__pimary-nav__item"><a href="#">Team</a></li>
      <li class="o-list__item c-page-head__pimary-nav__item"><a href="#">Contact</a></li>
    </ul>
  </nav>
  
  <a class="c-page-head__menubtn" href="#">
    <span class="c-page-head__menubtn-icon"><img src="images/menu_burger_icon.png"></img></span>
    <span class="c-page-head__menubtn-meta">Menu</span>
  </a>
</header>