<div class="c-wrap">  
  <footer class="c-page-foot">
    <div class="c-page-foot__section">
      <div class="c-page-foot__logo">
        <a href="#">
          <img src="images/logo.png" alt="Basement">
        </a>
      </div>
    </div>
    
    <div class="c-page-foot__section">
      <ul class="o-list o-list--flat c-page-foot__list">
        <li class="o-list__item c-page-foot__list-item c-page-foot__list-head"><a href="#">Product</a></li>
        <li class="o-list__item c-page-foot__list-item"><a href="#">Features</a></li>
        <li class="o-list__item c-page-foot__list-item"><a href="#">Promo</a></li>
        <li class="o-list__item c-page-foot__list-item"><a href="#">Download</a></li>
      </ul>
    </div>
    
    <div class="c-page-foot__section">
      <ul class="o-list o-list--flat c-page-foot__list">
        <li class="o-list__item c-page-foot__list-item c-page-foot__list-head"><a href="#">Contact</a></li>
        <li class="o-list__item c-page-foot__list-item"><a href="#">Find us</a></li>
        <li class="o-list__item c-page-foot__list-item"><a href="#">FAQ</a></li>
        <li class="o-list__item c-page-foot__list-item"><a href="#">Help</a></li>
      </ul>
    </div>
    
    <div class="c-page-foot__section">
      <ul class="o-list o-list--flat o-list--inline c-page-foot__list">
        <li class="o-list__item c-page-foot__list-item c-page-foot__list-head"><a class="" href="#">Follow us</a></li>
        <li class="o-list__item c-page-foot__list-item"><a class="" href="#"><img src="images/facebook_icon.png" alt="Facebook"></a></li>
        <li class="o-list__item c-page-foot__list-item"><a class="" href="#"><img src="images/twitter_icon.png" alt="Twitter"></a></li>
        <li class="o-list__item c-page-foot__list-item"><a class="" href="#"><img src="images/dribbble_icon.png" alt="Dribble"></a></li>
      </ul>
    </div>
  </footer>
</div>