// ========================================================
// @component: wrap
// ========================================================
// 

// component config
//
$c-wrap__maxW: 1000px;


// component block
//
.c-wrap {
  margin-left: auto;
  margin-right: auto;
  @include remcalc(padding-left, $global-spacing--sm);
  @include remcalc(padding-right, $global-spacing--sm);
  @include remcalc(max-width, $c-wrap__maxW);
  width: 100%;
}