// ========================================================
// @component: wrap
// ========================================================
// 

// config
//
$wrap-maxW: 1200px;


// component block
//
.wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing--sm;
  padding-right: $spacing--sm;
  max-width: $wrap-maxW;
  width: 100%;
}