// ========================================================
// @object: grid system
// ========================================================
//

// component config
//
$grid-bp--sm: $bp--sm;
$grid-bp--md: $bp--md;
$grid-bp--lg: $bp--lg;
$grid-margin: $global-spacing--sm;


// component block
//
.o-grid {
   direction: ltr;
   list-style: none;
   margin: 0;
   padding: 0;
   @include remcalc(margin-left, -$grid-margin);
   text-align: left;
   
   
   // component elements
   //
   &__unit {
      direction: ltr;
      display: inline-block;
      margin-right: -4px;
      @include remcalc(padding-left, $grid-margin);
      transition: width .2s ease-in-out;
      vertical-align: top;
      width: 100%;
      
      // component element modifiers
      //
      
      // whole
      &--m-1-1 { width: 100%; }
      
      // halves
      &--m-1-2, &--m-2-4, &--m-3-6, &--m-4-8 { width: 50%; }
      
      // thirds
      &--m-1-3, &--m-2-6 { width: 33.3333%; }
      &--m-2-3 { width: 66.6666%; }
      
      // quarters
      &--m-1-4, &--m-2-8 { width: 25%; }
      &--m-3-4, &--m-6-8 { width: 75%; }
      
      // fifths
      &--m-1-5 { width: 20%; }
      &--m-2-5 { width: 40%; }
      &--m-3-5 { width: 60%; }
      &--m-4-5 { width: 80%; }
      
      @media(min-width: $grid-bp--sm) {
         // whole
         &--t-1-1 { width: 100%; }
         
         // halves
         &--t-1-2, &--t-2-4, &--t-3-6, &--t-4-8 { width: 50%; }
         
         // thirds
         &--t-1-3, &--t-2-6 { width: 33.3333%; }
         &--t-2-3 { width: 66.6666%; }
         
         // quarters
         &--t-1-4, &--t-2-8 { width: 25%; }
         &--t-3-4, &--t-6-8 { width: 75%; }
         
         // fifths
         &--t-1-5 { width: 20%; }
         &--t-2-5 { width: 40%; }
         &--t-3-5 { width: 60%; }
         &--t-4-5 { width: 80%; }
      }
      
      @media(min-width: $grid-bp--md) {
         // whole
         &--d-1-1 { width: 100%; }
         
         // halves
         &--d-1-2, &--d-2-4, &--d-3-6, &--d-4-8 { width: 50%; }
         
         // thirds
         &--d-1-3, &--d-2-6 { width: 33.3333%; }
         &--d-2-3 { width: 66.6666%; }
         
         // quarters
         &--d-1-4, &--d-2-8 { width: 25%; }
         &--d-3-4, &--d-6-8 { width: 75%; }
         
         // fifths
         &--d-1-5 { width: 20%; }
         &--d-2-5 { width: 40%; }
         &--d-3-5 { width: 60%; }
         &--d-4-5 { width: 80%; }
      }
      
      @media(min-width: $grid-bp--lg) {
         // whole
         &--d-1-1 { width: 100%; }
         
         // halves
         &--d-1-2, &--d-2-4, &--d-3-6, &--d-4-8 { width: 50%; }
         
         // thirds
         &--d-1-3, &--d-2-6 { width: 33.3333%; }
         &--d-2-3 { width: 66.6666%; }
         
         // quarters
         &--d-1-4, &--d-2-8 { width: 25%; }
         &--d-3-4, &--d-6-8 { width: 75%; }
         
         // fifths
         &--d-1-5 { width: 20%; }
         &--d-2-5 { width: 40%; }
         &--d-3-5 { width: 60%; }
         &--d-4-5 { width: 80%; }
      }
   }
   
   
   // component modifiers
   //
   &--middle {
      > .o-grid__unit { vertical-align: middle; }
   }
   
   &--rev { direction: rtl; }
   
   &--rev--m { 
      direction: rtl;
      @media(min-width: $bp--sm) {  direction: ltr; }
   }
   
   &--rev--t { 
      direction: ltr;
      @media(min-width: $bp--sm) {  direction: rtl; }
   }
}