// ========================================================
// @settings: measurements
// ========================================================
//

// type
$global-font-size: 16px;

// spacing
$global-spacing--xs: 10px;
$global-spacing--sm: $global-spacing--xs * 2;
$global-spacing--md: $global-spacing--xs * 3;
$global-spacing--lg: $global-spacing--xs * 4.5;
$global-spacing--xl: $global-spacing--xs * 6;