// ========================================================
// @settings: colors
// ========================================================
//

// grey
$col-grey--1: #333333;
$col-grey--2: #F5F5F5;
$col-grey--3: #B1B1B1;
$col-grey--4: #515356;
$col-grey--5: #585858;
$col-grey--6: #B2B2B2;

// orange
$col-orange--1: #FF6008;
