// ========================================================
// @settings: measurements
// ========================================================
//

// type
$global-font-size: 16px;

// spacing
$global-spacing--xs: 10px;
$global-spacing--sm: $global-spacing--xs * 2;